.doc-section
    .markdown-body
        :markdown
            ##面板
    .example
        .panel.panel-info.component-space-bottom
            .panel-heading
                .panel-title 标题（MUI）
                .panel-delete
                    svg.icon(aria-hidden="true")
                        use(xlink:href="#mui-delete")
            .panel-body
                p Lorem ipsu dolor sit amet, consectetur adipisicing elit. Vitae quia aliquid sequi officiis iste quae dignissimos, corporis sed odio perferendis praesentium iure consequuntur facere ad nihil quo omnis, autem dicta.
            .panel-footer
                .panel-title 标题（MUI）
        .panel.panel-success.panel-lg.component-space-bottom
            .panel-heading
                .panel-title 标题
                .panel-delete
                    svg.icon(aria-hidden="true")
                        use(xlink:href="#mui-delete")
            .panel-body  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus perspiciatis atque blanditiis modi ut, suscipit voluptatum possimus quo doloribus sapiente officia quaerat esse perferendis ducimus ab, provident consequatur deserunt quos.
            .panel-footer
                button.m-btn.m-btn-success(type="button") 确定
                button.m-btn.m-btn-info(type="button") 取消
        .panel.panel-danger.panel-sm.component-space-bottom
            .panel-heading
                .panel-title 标题（MUI）
                .panel-delete
                    svg.icon(aria-hidden="true")
                        use(xlink:href="#mui-delete")
            .panel-body  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus perspiciatis atque blanditiis modi ut, suscipit voluptatum possimus quo doloribus sapiente officia quaerat esse perferendis ducimus ab, provident consequatur deserunt quos.
        .panel.panel-warn.component-space-bottom
            .panel-heading
                .panel-title 标题（MUI）
                .panel-delete
                    svg.icon(aria-hidden="true")
                        use(xlink:href="#mui-delete")
            .panel-body  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus perspiciatis atque blanditiis modi ut, suscipit voluptatum possimus quo doloribus sapiente officia quaerat esse perferendis ducimus ab, provident consequatur deserunt quos.
            .panel-footer
                button.m-btn.m-btn-warn.m-btn-sm(type="button") 确定
                button.m-btn.m-btn-info.m-btn-sm(type="button") 取消
        .panel.panel-primary.component-space-bottom
            .panel-heading
                .panel-title 标题（MUI）
            .panel-body  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus perspiciatis atque blanditiis modi ut, suscipit voluptatum possimus quo doloribus sapiente officia quaerat esse perferendis ducimus ab, provident consequatur deserunt quos.
        .panel.panel-line-info.component-space-bottom
            .panel-heading
                .panel-title 标题（MUI）
            .panel-body Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae quia aliquid sequi officiis iste quae dignissimos, corporis sed odio perferendis praesentium iure consequuntur facere ad nihil quo omnis, autem dicta.
        .panel.panel-line-success.component-space-bottom
            .panel-heading
                .panel-title 标题（MUI）
            .panel-body  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus perspiciatis atque blanditiis modi ut, suscipit voluptatum possimus quo doloribus sapiente officia quaerat esse perferendis ducimus ab, provident consequatur deserunt quos.
        .panel.panel-line-danger.component-space-bottom
            .panel-heading
                .panel-title 标题（MUI）
            .panel-body  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus perspiciatis atque blanditiis modi ut, suscipit voluptatum possimus quo doloribus sapiente officia quaerat esse perferendis ducimus ab, provident consequatur deserunt quos.
        .panel.panel-line-warn.component-space-bottom
            .panel-heading
                .panel-title 标题（MUI）
            .panel-body  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus perspiciatis atque blanditiis modi ut, suscipit voluptatum possimus quo doloribus sapiente officia quaerat esse perferendis ducimus ab, provident consequatur deserunt quos.
        .panel.panel-line-primary.component-space-bottom
            .panel-heading
                .panel-title 标题（MUI）
            .panel-body  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus perspiciatis atque blanditiis modi ut, suscipit voluptatum possimus quo doloribus sapiente officia quaerat esse perferendis ducimus ab, provident consequatur deserunt quos.
    .highlight

